body {
    text-align: center;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .dice {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #total {
    font-size:5ch

  }
  button {
    padding: 10px 20px;
    /* font-size: 16px; */
        font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  